APP_CONFIG__DB__URL=postgresql+asyncpg://user:password@localhost:5432/service_kgf
APP_CONFIG__REDIS__CONNECTION__HOST=localhost
APP_CONFIG__REDIS__CONNECTION__PORT=6379
APP_CONFIG__SUPER_USER__EMAIL=example@example.com
APP_CONFIG__SUPER_USER__FIRST_NAME=Иван
APP_CONFIG__SUPER_USER__LAST_NAME=Иванов
APP_CONFIG__SUPER_USER__HASHED_PASSWORD=password